* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Header Styling */
header {
    display: flex;
    padding: 20px 30px;
}

/* Toggle Button */
.menu-toggle {
    background: none;
    border: none;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 60%;
    max-height: 100%;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    text-align: center;
    transform: scale(1.5);
}

.wrapper img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 30px;
}

.wrapper .title-text {
    display: flex;
    width: 200%;
    color: #383333;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #383333;
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 70px;
    width: 100%;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
    overflow: hidden;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    line-height: 68px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #383333;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(255,184,51,1), rgba(216,144,113,0.8));
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 65px;
    width: 100%;
    margin-top: 15px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 2px solid lightgrey;
    font-size: 20px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus {
    border-color: #D4A373;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 20px;
}

form .btn {
    height: 45px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background-image: linear-gradient(180deg, rgba(255,184,51,1), rgba(216,144,113,0.8));
    border-radius: 15px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
}
