SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=

# Database: sqlite or postgresql
DB_ENGINE=sqlite

# PostgreSQL (only needed if DB_ENGINE=postgresql)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Threshold for face similarity (Can be 0 to 1)
FACE_SIMILARITY_THRESHOLD=0.6

# Arduino
ARDUINO_PORT=auto
ARDUINO_BAUDRATE=9600

# Number of accounts linked to single bundle
MAX_FAMILY_MEMBERS=5

# VAPID Keys for Web Push Notifications
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_CLAIMS_EMAIL=yourmail@gmail.com




