SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=

DB_ENGINE=sqlite

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

ARDUINO_PORT=
ARDUINO_BAUDRATE=9600

MAX_FAMILY_MEMBERS=5

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_CLAIMS_EMAIL=

VAPID_PRIVATE_KEY= 
VAPID_PUBLIC_KEY=
VAPID_CLAIMS_EMAIL=

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_CLAIMS_EMAIL=

VAPID_PRIVATE_KEY=-----BEGIN PRIVATE KEY---- /""" Put Your Key Here"""/ ------END PRIVATE KEY-----
VAPID_PUBLIC_KEY=-----BEGIN PUBLIC KEY----- /""" Put Your Key Here"""/ -----END PUBLIC KEY-----
VAPID_CLAIMS_EMAIL=yourmail@gmail.com