{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeriFace</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="back-button">
            <a href="javascript:history.back()">
                <img src="{% static 'image/Authentication/back-button.svg' %}" alt="back-button">
            </a>
        </div>

        <div class="illustator">
            <img src="{% static 'image/Authentication/signin.svg' %}" alt="">
        </div>
    </div>

    <div class="form-container">
        <form action="/login" method="post" class="login">
            
            {% csrf_token %}

            <div class="heading-primary">
                User Login
            </div>

            <div class="text-smaller tagline">
                your identity. your door. veriface.
            </div>

            
            <div class="input-wrapper">
                <span class="emoji">👤</span>
                <input class="text-label" type="text" placeholder="Enter Your User ID" name="login_username">        
            </div>
            
            <div class="input-wrapper">
                <span class="emoji">🔑</span>
                <input class="text-label" type="password" placeholder="Enter Your Password" name="login_password">
            </div>


            {% if messages %}
            {% for message in messages %}
            <span class="error-message text-label">
                {{ message }}
            </span>
            {% endfor %}
            {% endif %}

            <input class="text-button" type="submit" value="Login">
        
            <span class="text-label">
                Not a user already?
                <a href="verify_device">Create Your Account</a>
            </span>

        </form>
    </div>

</body>

</html>